package pages

templ Layout(inner templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>MyEmail</title>
		</head>
		<body>
			<div id="wrapper">
				@inner
			</div>
		</body>
	</html>
}
