package pages

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>MyEmail</title>
			<script src="/assets/index.js" defer></script>
			<link rel="stylesheet" href="/assets/styles.css"/>
		</head>
		<body>
			<div id="wrapper">
				{ children... }
			</div>
		</body>
	</html>
}
