package pages

templ Login() {
	<div>
		<form action="/api/collections/users/auth-with-password" method="POST">
			<input type="text" name="identity" placeholder="Username" required/>
			<input type="password" name="password" placeholder="Password" required/>
			<button type="submit">Login</button>
		</form>
	</div>
}
