package pages

templ Login() {
	<div class="bg-red-100">
		<form action="/api/collections/users/auth-with-password" method="POST">
			<input type="text" name="identity" placeholder="Username" required/>
			<input type="password" name="password" placeholder="Password" required/>
			<button class="btn" type="submit">Login</button>
		</form>
	</div>
}
